In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('sweden.csv',header = None)
df.head(48)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,NaN,NaN,These statistics will no longer be updated. Se...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Beräkningen är standardiserad för att månad...
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Statistiken för år 2023 är preliminär.
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Antal döda per 100 000 invånare1 per månad åre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 The calculation is based on the population a...
4,4,Number of deaths per 100 000 inhabitants1 per ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The calculation is standardised to ensure co...
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Statistics for 2023 are preliminary.
6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Region,Månad / Month,År / Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Region,Månad,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,Lan,-,Tabell,MånadNr,NaN,NaN,NaN,NaN
9,9,Riket,januari,86,85.4,89.9,84.2,79.2,78.2,94.9,85.1,87.5,0,NaN,11. Döda_P_100000_30Dgr,1,NaN,NaN,NaN,NaN
10,10,Riket,februari,88.9,82.0,85.9,88.2,78.3,75.5,78.0,84.3,73.9,0,NaN,11. Döda_P_100000_30Dgr,2,NaN,NaN,NaN,NaN
11,11,Riket,mars,85.9,80.1,79.7,90.1,73.6,80.1,72.8,74.5,74.6,0,NaN,11. Döda_P_100000_30Dgr,3,NaN,NaN,NaN,NaN
12,12,Riket,april,79.2,76.4,77.1,76.9,71.9,102.0,70.4,69.9,61.8,0,NaN,11. Döda_P_100000_30Dgr,4,NaN,NaN,NaN,NaN
13,13,Riket,maj,72.8,69.8,72.2,66.3,67.4,83.4,67.6,67.7,0.0,0,NaN,11. Döda_P_100000_30Dgr,5,NaN,NaN,NaN,NaN
14,14,Riket,juni,70,67.7,68.1,65.6,64.6,71.9,63.5,67.1,0.0,0,NaN,11. Döda_P_100000_30Dgr,6,NaN,NaN,NaN,NaN
15,15,Riket,juli,70.4,70.6,66.7,71.1,65.4,66.2,65.3,68.0,0.0,0,NaN,11. Döda_P_100000_30Dgr,7,NaN,NaN,NaN,NaN
16,16,Riket,augusti,67.3,69.8,67.3,66.3,66.1,65.1,65.4,69.8,0.0,0,NaN,11. Döda_P_100000_30Dgr,8,NaN,NaN,NaN,NaN
17,17,Riket,september,71.4,69.1,68.6,68.2,66.5,65.3,68.7,70.3,0.0,0,NaN,11. Döda_P_100000_30Dgr,9,NaN,NaN,NaN,NaN
18,18,Riket,oktober,71.3,72.8,72.7,70.5,70.7,67.9,69.9,69.9,0.0,0,NaN,11. Döda_P_100000_30Dgr,10,NaN,NaN,NaN,NaN
19,19,Riket,november,74.6,75.7,74.1,69.5,72.1,79.2,73.1,72.5,0.0,0,NaN,11. Döda_P_100000_30Dgr,11,NaN,NaN,NaN,NaN
20,20,Riket,december,78.1,82.0,79.0,75.9,74.0,95.0,79.1,90.1,0.0,0,NaN,11. Döda_P_100000_30Dgr,12,NaN,NaN,NaN,NaN
21,21,Stockholms län,januari,68.9,66.2,68.7,64.7,59.6,60.6,66.8,65.4,65.0,11,NaN,11. Döda_P_100000_30Dgr,1,NaN,NaN,NaN,NaN
22,22,Stockholms län,februari,68.3,60.3,63.8,67.8,60.3,56.9,54.3,61.1,51.8,11,NaN,11. Döda_P_100000_30Dgr,2,NaN,NaN,NaN,NaN
23,23,Stockholms län,mars,61.8,59.5,61.6,64.9,55.3,68.2,57.0,52.0,55.0,11,NaN,11. Döda_P_100000_30Dgr,3,NaN,NaN,NaN,NaN
24,24,Stockholms län,april,58.4,57.9,59.3,60.2,55.3,119.0,56.5,49.4,44.0,11,NaN,11. Döda_P_100000_30Dgr,4,NaN,NaN,NaN,NaN
25,25,Stockholms län,maj,54.1,54.6,52.3,50.3,50.7,71.5,52.3,47.7,0.0,11,NaN,11. Döda_P_100000_30Dgr,5,NaN,NaN,NaN,NaN
26,26,Stockholms län,juni,53.9,53.9,53.4,50.8,48.9,57.4,47.0,51.1,0.0,11,NaN,11. Döda_P_100000_30Dgr,6,NaN,NaN,NaN,NaN
27,27,Stockholms län,juli,56.9,52.9,51.8,61.0,46.7,46.4,47.4,50.2,0.0,11,NaN,11. Döda_P_100000_30Dgr,7,NaN,NaN,NaN,NaN
28,28,Stockholms län,augusti,52,54.4,51.5,50.9,50.2,47.8,48.7,51.7,0.0,11,NaN,11. Döda_P_100000_30Dgr,8,NaN,NaN,NaN,NaN
29,29,Stockholms län,september,56,51.2,50.4,50.4,51.7,45.7,51.0,54.1,0.0,11,NaN,11. Döda_P_100000_30Dgr,9,NaN,NaN,NaN,NaN
30,30,Stockholms län,oktober,56.3,57.7,56.1,56.5,52.8,47.9,50.1,52.4,0.0,11,NaN,11. Döda_P_100000_30Dgr,10,NaN,NaN,NaN,NaN
31,31,Stockholms län,november,56.6,59.7,56.0,53.2,55.2,63.5,52.1,54.2,0.0,11,NaN,11. Döda_P_100000_30Dgr,11,NaN,NaN,NaN,NaN
32,32,Stockholms län,december,62.9,67.3,58.5,56.6,55.4,75.2,58.1,68.9,0.0,11,NaN,11. Döda_P_100000_30Dgr,12,NaN,NaN,NaN,NaN
33,33,Botkyrka,januari,46.8,57.4,55.5,66.3,67.6,37.8,59.2,53.8,46.7,12,NaN,11. Döda_P_100000_30Dgr,1,NaN,NaN,NaN,NaN
34,34,Botkyrka,februari,68.6,64.7,57.8,66.4,45.9,55.7,53.0,58.5,55.0,12,NaN,11. Döda_P_100000_30Dgr,2,NaN,NaN,NaN,NaN
35,35,Botkyrka,mars,57.6,55.1,63.9,56.7,47.7,61.3,43.9,44.7,45.7,12,NaN,11. Döda_P_100000_30Dgr,3,NaN,NaN,NaN,NaN
36,36,Botkyrka,april,51.6,52.5,54.9,51.0,53.4,109.7,45.3,47.3,39.8,12,NaN,11. Döda_P_100000_30Dgr,4,NaN,NaN,NaN,NaN
37,37,Botkyrka,maj,54.2,32.4,48.9,46.2,49.6,58.2,40.8,52.9,0.0,12,NaN,11. Döda_P_100000_30Dgr,5,NaN,NaN,NaN,NaN
38,38,Botkyrka,juni,53.8,32.3,54.9,47.7,32.0,51.6,36.9,51.5,0.0,12,NaN,11. Döda_P_100000_30Dgr,6,NaN,NaN,NaN,NaN
39,39,Botkyrka,juli,43.4,41.0,47.7,59.9,46.4,39.8,39.7,38.6,0.0,12,NaN,11. Döda_P_100000_30Dgr,7,NaN,NaN,NaN,NaN
40,40,Botkyrka,augusti,35.8,34.4,51.9,41.9,41.2,40.8,36.7,40.6,0.0,12,NaN,11. Döda_P_100000_30Dgr,8,NaN,NaN,NaN,NaN
41,41,Botkyrka,september,53.8,42.2,43.8,49.7,40.4,45.3,52.6,50.4,0.0,12,NaN,11. Döda_P_100000_30Dgr,9,NaN,NaN,NaN,NaN
42,42,Botkyrka,oktober,53.1,55.7,56.0,60.6,39.0,51.0,43.8,52.8,0.0,12,NaN,11. Döda_P_100000_30Dgr,10,NaN,NaN,NaN,NaN
43,43,Botkyrka,november,45.9,52.0,50.2,35.6,45.6,51.6,44.2,44.1,0.0,12,NaN,11. Döda_P_100000_30Dgr,11,NaN,NaN,NaN,NaN
44,44,Botkyrka,december,54.1,55.6,39.0,50.0,34.8,67.3,58.9,61.9,0.0,12,NaN,11. Döda_P_100000_30Dgr,12,NaN,NaN,NaN,NaN
45,45,Danderyd,januari,86.9,65.7,83.0,103.0,70.0,64.8,115.4,73.8,62.2,12,NaN,11. Döda_P_100000_30Dgr,1,NaN,NaN,NaN,NaN
46,46,Danderyd,februari,69.7,76.5,78.6,120.6,58.0,53.5,59.0,52.3,59.0,12,NaN,11. Döda_P_100000_30Dgr,2,NaN,NaN,NaN,NaN
47,47,Danderyd,mars,78,74.6,71.1,67.8,96.0,82.4,82.8,44.3,65.2,12,NaN,11. Döda_P_100000_30Dgr,3,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[9:]
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
9,9,Riket,januari,86,85.4,89.9,84.2,79.2,78.2,94.9,85.1,87.5,0,NaN,11. Döda_P_100000_30Dgr,1,NaN,NaN,NaN,NaN
10,10,Riket,februari,88.9,82.0,85.9,88.2,78.3,75.5,78.0,84.3,73.9,0,NaN,11. Döda_P_100000_30Dgr,2,NaN,NaN,NaN,NaN
11,11,Riket,mars,85.9,80.1,79.7,90.1,73.6,80.1,72.8,74.5,74.6,0,NaN,11. Döda_P_100000_30Dgr,3,NaN,NaN,NaN,NaN
12,12,Riket,april,79.2,76.4,77.1,76.9,71.9,102.0,70.4,69.9,61.8,0,NaN,11. Döda_P_100000_30Dgr,4,NaN,NaN,NaN,NaN
13,13,Riket,maj,72.8,69.8,72.2,66.3,67.4,83.4,67.6,67.7,0.0,0,NaN,11. Döda_P_100000_30Dgr,5,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3748,3748,Övertorneå,augusti,83.4,127.1,107.1,130.8,199.5,91.2,161.2,93.1,0.0,252,NaN,11. Döda_P_100000_30Dgr,8,NaN,NaN,NaN,NaN
3749,3749,Övertorneå,september,130.2,175.7,133.4,113.1,161.2,47.3,95.3,48.2,0.0,252,NaN,11. Döda_P_100000_30Dgr,9,NaN,NaN,NaN,NaN
3750,3750,Övertorneå,oktober,63.3,128.0,129.4,109.6,112.0,137.3,184.5,140.1,0.0,252,NaN,11. Döda_P_100000_30Dgr,10,NaN,NaN,NaN,NaN
3751,3751,Övertorneå,november,130.6,154.4,67.0,136.2,46.5,94.8,23.8,120.9,0.0,252,NaN,11. Döda_P_100000_30Dgr,11,NaN,NaN,NaN,NaN
3752,3752,Övertorneå,december,189.4,276.7,65.1,131.8,157.4,137.6,183.8,164.0,0.0,252,NaN,11. Döda_P_100000_30Dgr,12,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int64')

In [5]:
df.drop([1,2,9,10,11,12,13,14,15,16,17,18,19], axis = 1, inplace = True)
df.head(20)

     0     3     4     5     6     7      8
9    9    86  85.4  89.9  84.2  79.2   78.2
10  10  88.9  82.0  85.9  88.2  78.3   75.5
11  11  85.9  80.1  79.7  90.1  73.6   80.1
12  12  79.2  76.4  77.1  76.9  71.9  102.0
13  13  72.8  69.8  72.2  66.3  67.4   83.4
14  14    70  67.7  68.1  65.6  64.6   71.9
15  15  70.4  70.6  66.7  71.1  65.4   66.2
16  16  67.3  69.8  67.3  66.3  66.1   65.1
17  17  71.4  69.1  68.6  68.2  66.5   65.3
18  18  71.3  72.8  72.7  70.5  70.7   67.9
19  19  74.6  75.7  74.1  69.5  72.1   79.2
20  20  78.1  82.0  79.0  75.9  74.0   95.0
21  21  68.9  66.2  68.7  64.7  59.6   60.6
22  22  68.3  60.3  63.8  67.8  60.3   56.9
23  23  61.8  59.5  61.6  64.9  55.3   68.2
24  24  58.4  57.9  59.3  60.2  55.3  119.0
25  25  54.1  54.6  52.3  50.3  50.7   71.5
26  26  53.9  53.9  53.4  50.8  48.9   57.4
27  27  56.9  52.9  51.8  61.0  46.7   46.4
28  28    52  54.4  51.5  50.9  50.2   47.8

In [6]:
# reset index
df.reset_index(drop=True, inplace=True)
df

         0      3      4      5      6      7      8
0        9     86   85.4   89.9   84.2   79.2   78.2
1       10   88.9   82.0   85.9   88.2   78.3   75.5
2       11   85.9   80.1   79.7   90.1   73.6   80.1
3       12   79.2   76.4   77.1   76.9   71.9  102.0
4       13   72.8   69.8   72.2   66.3   67.4   83.4
...    ...    ...    ...    ...    ...    ...    ...
3739  3748   83.4  127.1  107.1  130.8  199.5   91.2
3740  3749  130.2  175.7  133.4  113.1  161.2   47.3
3741  3750   63.3  128.0  129.4  109.6  112.0  137.3
3742  3751  130.6  154.4   67.0  136.2   46.5   94.8
3743  3752  189.4  276.7   65.1  131.8  157.4  137.6

[3744 rows x 7 columns]

In [7]:
# change data type of all columns into float
df = df.astype('float64')

In [8]:
# change columns name
new_col_name = {
    0: 'Month',
    3: '2015',
    4: '2016',
    5: '2017',
    6: '2018',
    7: '2019',
    8: '2020',
}
df.rename(columns=new_col_name, inplace=True)
df.head(50)

    Month  2015  2016  2017   2018  2019   2020
0     9.0  86.0  85.4  89.9   84.2  79.2   78.2
1    10.0  88.9  82.0  85.9   88.2  78.3   75.5
2    11.0  85.9  80.1  79.7   90.1  73.6   80.1
3    12.0  79.2  76.4  77.1   76.9  71.9  102.0
4    13.0  72.8  69.8  72.2   66.3  67.4   83.4
5    14.0  70.0  67.7  68.1   65.6  64.6   71.9
6    15.0  70.4  70.6  66.7   71.1  65.4   66.2
7    16.0  67.3  69.8  67.3   66.3  66.1   65.1
8    17.0  71.4  69.1  68.6   68.2  66.5   65.3
9    18.0  71.3  72.8  72.7   70.5  70.7   67.9
10   19.0  74.6  75.7  74.1   69.5  72.1   79.2
11   20.0  78.1  82.0  79.0   75.9  74.0   95.0
12   21.0  68.9  66.2  68.7   64.7  59.6   60.6
13   22.0  68.3  60.3  63.8   67.8  60.3   56.9
14   23.0  61.8  59.5  61.6   64.9  55.3   68.2
15   24.0  58.4  57.9  59.3   60.2  55.3  119.0
16   25.0  54.1  54.6  52.3   50.3  50.7   71.5
17   26.0  53.9  53.9  53.4   50.8  48.9   57.4
18   27.0  56.9  52.9  51.8   61.0  46.7   46.4
19   28.0  52.0  54.4  51.5   50.9  50.2   47.8
20   29.0  56.0  51.2  50.4   50.4  51.7   45.7
21   30.0  56.3  57.7  56.1   56.5  52.8   47.9
22   31.0  56.6  59.7  56.0   53.2  55.2   63.5
23   32.0  62.9  67.3  58.5   56.6  55.4   75.2
24   33.0  46.8  57.4  55.5   66.3  67.6   37.8
25   34.0  68.6  64.7  57.8   66.4  45.9   55.7
26   35.0  57.6  55.1  63.9   56.7  47.7   61.3
27   36.0  51.6  52.5  54.9   51.0  53.4  109.7
28   37.0  54.2  32.4  48.9   46.2  49.6   58.2
29   38.0  53.8  32.3  54.9   47.7  32.0   51.6
30   39.0  43.4  41.0  47.7   59.9  46.4   39.8
31   40.0  35.8  34.4  51.9   41.9  41.2   40.8
32   41.0  53.8  42.2  43.8   49.7  40.4   45.3
33   42.0  53.1  55.7  56.0   60.6  39.0   51.0
34   43.0  45.9  52.0  50.2   35.6  45.6   51.6
35   44.0  54.1  55.6  39.0   50.0  34.8   67.3
36   45.0  86.9  65.7  83.0  103.0  70.0   64.8
37   46.0  69.7  76.5  78.6  120.6  58.0   53.5
38   47.0  78.0  74.6  71.1   67.8  96.0   82.4
39   48.0  80.5  77.1  67.3   91.2  69.3   97.5
40   49.0  48.0  50.8  71.2   53.0  81.7   88.4
41   50.0  68.1  64.8  67.4   75.9  39.3   61.0
42   51.0  71.8  41.8  65.1   96.8  40.9   65.0
43   52.0  77.8  74.4  59.1   49.8  58.5   41.4
44   53.0  80.2  49.1  51.8   54.4  60.6   55.0
45   54.0  89.5  80.1  50.1   67.1  52.8   71.0
46   55.0  73.9  88.8  88.2   48.2  91.2   67.3
47   56.0  65.6  86.0  70.6   70.0  67.7   97.6
48   57.0  79.7  61.0  60.0   69.7  44.4   47.2
49   58.0  36.1  38.3  43.0   34.6  45.4   61.2

In [12]:
# import pandas as pd

# # Assuming you have a DataFrame called df with your original dataset

# # Create a new DataFrame to store the results
# new_df = pd.DataFrame(columns=df.columns)

# # Set the step value
# step = 12

# # Iterate through the rows of the original DataFrame

# for i in range(0, len(df), step):
#     # Add the current row with the row at position i+step
#     new_row = df.iloc[i] + df.iloc[i + step] if i + step < len(df) else df.iloc[i]
    
#     # Assign the new row to the new DataFrame using loc
#     new_df.loc[len(new_df)] = new_row

# # Print the new DataFrame
# print(new_df)

# # If you want to save the new DataFrame to a CSV file
# # new_df.to_csv('new_dataset.csv', index=False)

      Month   2015   2016   2017   2018   2019   2020
0      30.0  154.9  151.6  158.6  148.9  138.8  138.8
1      54.0  115.7  123.6  124.2  131.0  127.2   98.4
2      78.0  133.7  123.1  138.5  169.3  137.6  102.6
3     102.0  166.6  126.7  143.0  172.7  114.4  112.0
4     126.0  138.4  109.5  127.8  124.7  115.4  110.2
..      ...    ...    ...    ...    ...    ...    ...
307  7398.0  191.4  205.6  345.8  230.0  293.5  285.7
308  7422.0  226.0  241.9  238.4  239.3  236.1  261.8
309  7446.0  397.6  244.1  445.0  324.6  353.4  372.3
310  7470.0  378.8  282.2  464.5  324.4  388.1  339.4
311  3741.0  123.3  168.2  149.4  151.9  153.6  135.1

[312 rows x 7 columns]

In [ ]:
# # rename the rows index to 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december' recursively
# import calendar
# start_index = 0

# start_index = 0  # Your DataFrame's starting index
# end_index = 3743  # Your DataFrame's ending index

# # Create a list of month names
# months = [calendar.month_abbr[i % 12 + 1] for i in range(start_index, end_index + 1)]

# # Set the index of the DataFrame to the list of month names
# df.index = months
# df

In [ ]:
# # Define bins based on 3-month intervals
# bins = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

# # Create a new column 'Bin' based on month labels
# df['Bin'] = pd.to_datetime(df.index, format='%b').to_period('3M').astype(str)

# # Group months into bins
# grouped_df = df.groupby('Bin').sum()

# # Create the bar graph
# ax = grouped_df.plot(kind='bar', stacked=True, colormap='Blues', figsize=(10, 6))

# # Set y-axis intervals
# ax.set_yticks(range(0, 3001, 500))

# # Set labels and title
# plt.xlabel('Bins (3-Month Intervals)')
# plt.ylabel('Total Value')
# plt.title('Bar Graph with 3-Month Bins and 500 Interval Y-Axis')

# # Show the plot
# plt.show()

In [ ]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # Your provided dataset
# # data = {
# #     '2015': [86.0, 88.9, 85.9, 79.2, 72.8],
# #     '2016': [85.4, 82.0, 80.1, 76.4, 69.8],
# #     '2017': [89.9, 85.9, 79.7, 77.1, 72.2],
# #     '2018': [84.2, 88.2, 90.1, 76.9, 66.3],
# #     '2019': [79.2, 78.3, 73.6, 71.9, 67.4],
# #     '2020': [78.2, 75.5, 80.1, 102.0, 83.4]
# # }

# # Create a DataFrame
# df = pd.DataFrame(df, index=['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

# # Create a new column for bins (A, B, C, ...)
# bins = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X']
# df['Month_Bin'] = pd.cut(df.index.to_series().astype(str), bins, right=False, labels=bins[:-1])

# # Group by the bins and sum the values
# grouped_df = df.groupby('Month_Bin').sum()

# # Plotting
# fig, ax = plt.subplots(figsize=(10, 6))
# grouped_df.plot(kind='bar', ax=ax, width=0.8)

# # Customize the plot
# ax.set_xlabel('Months')
# ax.set_ylabel('Total Value')
# ax.set_title('Total Value by 3-Month Bins')
# ax.set_yticks(range(0, 3001, 500))

# # Show the plot
# plt.show()